.line {
    position: relative;
    margin: 12px 0px;
    text-align: center;
}

.line::before {
    position: absolute;
    z-index: -1;
    height: 4px;
    width: 100%;
    left: 0px;
    background: rgb(204, 0, 0) none repeat scroll 0% 0%;
    top: calc(50% - 4px);
    content: "";
}

main{
    text-align: center;
    font-family: CNN, "Helvetica Neue", Helvetica, Arial, Utkal, sans-serif;
}

main .line svg{
    background-color: #fff;
    outline: currentcolor none 0px;
    width: 60px;
    height: 60px;
}

main h1{
    font-size: 25px;
    font-weight: 900;
}

main p{
    line-height: 60px;
}

main p b{
    font-weight: bold;
    text-decoration: underline;
}

form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 460px;
    margin: auto;
    padding: 10px;
}

.form form .group{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form input{
    padding: 5px;
    margin: 10px;
    background-color:#eee;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}

.success{
    display: block;
    color: green;
}

.danger{
    display: block;
    color: red;
}

.danger-border{
    border: 1px solid red;
}

.success-border{
    border: 1px solid green;
}

.hidden{
    display: none;
}

.form div span{
    padding: 0 10px;
    color: red;
    text-align: left;
    font-size: 10px;
}

.form .susButton {
    display: flex;
    flex-direction:column;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    outline: currentcolor none medium;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    font-family: CNN, "Helvetica Neue", Helvetica, Arial, Utkal, sans-serif;
    font-weight: 700;
    font-size: 16px;
    background-color: rgb(12, 12, 12);
    border: medium none;
    color: rgb(254, 254, 254);
    min-width: 80px;
    min-height: 48px;
    width: 100%;
    margin: 8px;
}


@media screen and (max-width: 480px) {

    form{
        flex-direction: column;
        width: 90%;
    }

    .form form .group{
        width: 100%;
    }

    main p{
        margin-top: 10px;
        line-height: 30px;
        justify-content: center;
    }

    .form .susButton {
        width: 95%;
    }

}